body {
  background-color: #f8f9fa;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width:  1000px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
textarea {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius:  10px;
  resize: vertical;
}

.input-group {
  margin-bottom: 20px;
  display: flex;               
  justify-content: space-between; 
  gap: 20px;                   
  padding: 10px;

  flex-direction:row;
  align-items: center;

}

input {
  padding: 8px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  margin-left: 8px;
  border: none;
  background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f8f9fa;
  margin: 8px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}
li span {
  text-align: left;
  display: block;
  white-space: pre-wrap; /* để xuống dòng đúng */
}
li.priority {
  border-left: 5px solid gold;
  background-color: #fff8dc;
}